version: '3'

services:
  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8080:80
    environment: 
      PMA_ARBITRARY: 1

  apache:
    image: php:8.0-apache

  mysql:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment: 
      MYSQL_ROOT_PASSWORD: root

volumes: 
  mysql_data:
    name: "mysql_data"
    driver: local